<!DOCTYPE html>
<html lang="en">
  <head>
    <title></title>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
  </head>
  <body>
    <div style="width:300px;margin:50px auto; border:2px solid #ccc;padding:20px;">
      <h2>
        MVVM demo
      </h2>

      <div id="app">
        工资:<input type="text" v-model="salary" /><span>{{ salary }}</span>
        <br />
        奖金:<input type="text" v-model="bonus" />
        <br />
        <span>到手:{{ cTotalMoney }}</span>
        <button @click="hDobule">工资加倍</button>
      </div>
    </div>

    <script src="https://cdn.bootcss.com/vue/2.6.10/vue.js"></script>
    <script>
      function MVVM(options) {
        this.$data = options.data;
        this.$el = document.querySelector(options.el);

        this.$methods = options.methods;
        this.observe(this.$data);

        this.compile();
      }
      MVVM.prototype.observe = function(obj) {
        Object.keys(obj).forEach(key => {
          var val = obj[key];
          Object.defineProperty(this, key, {
            enumerable: true,
            set: function(newVal) {
              console.info(`${obj[key]}----->${newVal}`);
              val = newVal;
            },
            get: function() {
              console.info(`get....${key}`);
              return val;
            }
          });
        });
      };

      MVVM.prototype.compile = function() {
        console.info(".....compile......");
        let el = this.$el;
        let vm = this;

        Array.from(el.children).forEach(node => {
          if (node.hasAttribute("v-model")) {
            let exp = node.getAttribute("v-model");
            console.info("v-model", exp);
            node.value = vm[exp];
            node.addEventListener("input", e => {
              console.info("input change.....", e);
              vm[exp] = e.target.value;
            });
          } else if (node.hasAttribute("v-bind")) {
            let exp = node.getAttribute("v-bind");
            console.info("v-bind", exp);
            node.innerHTML = vm[exp];
          } else if (node.hasAttribute("@click")) {
            let exp = node.getAttribute("@click");
            node.addEventListener("click", () => {
              vm.$methods[exp]();
            });
          }
        });
      };

      // MVVM.prototype.initComputed = function() {
      //   Object.keys(this.$computed).forEach(computer => {
      //     Object.defineProperty(this, computer, {
      //       get: this.$computed[computer]
      //     });
      //   });
      // };

      // function Dep() {
      //   this.sub = [];
      // }
      // Dep.prototype.add = function(watch) {
      //   this.sub.push(watch);
      // };
      // Dep.prototype.fire = function() {
      //   this.sub.forEach(watch => watch.update());
      // };

      // function Watcher(vm, exp, fn) {
      //   this.vm = vm;
      //   this.exp = exp;
      //   Dep.target = this;
      //   vm[exp];
      //   Dep.target = null;
      //   this.fn = fn;
      // }
      // Watcher.prototype.update = function() {
      //   this.fn();
      // };
    </script>
    <script>
      var vm = new MVVM({
        el: "#app",
        data: {
          salary: 10000,
          bonus: 50000
        },
        computed: {
          cTotalMoney() {
            console.info("computed.....");
            return +this.salary + +this.bonus;
          }
        },
        methods: {
          hDobule() {
            this.salary *= 2;
          }
        }
      });
    </script>
  </body>
</html>
